@import '../../styles/reset.css';

.card {
  padding: 16px;
  width: 308px;
  min-height: 128px;

  background: var(--white);
  border: 1px solid var(--grey-200);
  border-radius: 6px;

  transition: all 0.3s ease;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-sizing: border-box;
}
.modify {
  border: 1px solid var(--purple-100);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--black);
}

input.card__title::placeholder {
  color: var(--grey-400);
}

.card__desc {
  margin-top: 8px;
  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--grey-500);
}

p.card__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

textarea.card__desc {
  padding: 4px 8px;
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden; /* prevents scroll bar flash */
  text-overflow: inherit;
}
textarea.card__desc:focus {
  outline-color: var(--purple-100);
  background-color: #f1eefdbe;
  border-radius: 6px;
}

.card__tag {
  margin-top: 16px;
  padding: 6px 12px;

  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  background-color: var(--purple-200);
  color: var(--white);
}

.card__close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.card__close-btn:hover {
  background-color: var(--grey-200);
  border-radius: 50%;
}

.card__button__wrapper {
  margin-top: 16px;

  display: flex;
  justify-content: center;
  gap: 8px;
}

.place {
  background-color: var(--grey-400);
}

.dragging {
  cursor: grabbing;

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
