@import '../../styles/reset.css';

.card {
  padding: 16px;

  width: 308px;
  min-height: 128px;

  background: var(--white);
  border: 1px solid var(--grey-200);
  border-radius: 6px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--black);
}

.card__title__input {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: var(--black);
}

.card__title__input::placeholder {
  color: var(--grey-400);
}

.card__desc {
  margin-top: 8px;
  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--grey-500);
}

p.card__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

textarea.card__desc {
  overflow: auto;
  text-overflow: initial;
}

.card__tag {
  margin-top: 16px;
  padding: 6px 12px;

  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  background-color: var(--purple-200);
  color: var(--white);
}

.card__close-btn {
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.card__button__wrapper {
  margin-top: 16px;

  display: flex;
  justify-content: center;
  gap: 8px;
}
