@import '../../styles/reset.css';

.kanvan {
  min-width: 340px;
  width: fit-content;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  background: var(--grey-100);
  border-radius: 12px;

  box-sizing: border-box;
}

.kanvan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.kanvan__header__left {
  display: flex;
  gap: 2px;
}

.kanvan__header__right {
  display: flex;
  gap: 2px;
}

.kanvan__title {
  text-transform: uppercase;
  color: var(--black);
}

.kanvan__count {
  margin-left: 2px;
  width: 26px;
  height: 26px;
  text-align: center;

  color: var(--grey-400);
}

.kanvan__card__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropzone {
  border: 2px dashed var(--purple-200);
}

#kanvan__add-btn {
  cursor: pointer;
}
