@import '../../styles/reset.css';
@import '../../styles/style.css';

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin-top: 28px;

  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}

.contents__container {
  margin-bottom: 100px;
  padding: 0 60px;
  display: flex;
  gap: 42px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.project-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.project-header h1 {
  font-size: 32px;
  font-weight: 700;
}
.project-header p {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-500);
}
.kanvan__container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 48px;
}
