.main__container {
  display: flex;

  gap: 48px;
}
:root {
  --white: #ffffff;
  --purple-100: #bdb0ff;
  --purple-200: #7b61ff;
  --purple-300: #43319f;
  --grey-100: #f7f8f9;
  --grey-200: #e9ebee;
  --grey-300: #c5c8ce;
  --grey-400: #828282;
  --grey-500: #646f7c;
  --black: #191f28;
}
