.custom-button {
  width: 134px;
  height: 40px;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.custom-button.primary {
  background-color: #7b61ff;
  &:hover {
    background-color: #43319f;
  }
  &:active {
    background-color: #bdb0ff;
    color: rgba(255, 255, 255, 0.4);
  }
}
.custom-button.normal {
  background-color: #e9ebee;
  color: #828282;

  &:active {
    background-color: #828282;
    color: #ffffff;
  }
}
