header {
  width: 100%;
  height: 112px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 80px;
  box-sizing: border-box;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
}
h1 {
  font-size: 32px;
  font-weight: 700;
}
.panel-button {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-100);
  cursor: pointer;
}

.panel-button:hover {
  background-color: var(--grey-200);
}
.panel-button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
